* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
}

.section {
    width: 100%;
    height: 500px;
    border: 2px solid navy;
}

.img {
    height: 900px;
}

.section__p,
.section__h3 {
    margin: 5% auto;
    text-align: center;
    opacity: 0;
}

#animate-button,
#un-animate-button {
    border: none;
    border-radius: .75rem;
    color: white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 1rem 2rem;
    width: 300px;
    transition: all .3s;
    margin: 0 auto;
}

#animate-button {
    background-color: navy;
}

#un-animate-button {
    background-color: maroon;
    margin-top: 10px;
}

#animate-button:hover,
#un-animate-button:hover {
    background-color: black;
}


/*animations*/

@keyframes fadeDown{
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeUp{
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeOut{
    from {
        opacity: 1;
        transform: none;
    }
    to {
        opacity: 0;
        transform: translate3d(0, -100%);
    }
}

@keyframes scale-out{
    from {
        transform: translate(0, 0) scale(1, 1);

    }
    to {
        transform: translate(-120%, 0) scale(2, 2);
    }
}

.fade-down {
    animation-name: fadeDown;
    animation-duration: .75s;
    animation-fill-mode: both;
    animation-delay: .5s;
}
.fade-up {
    animation-name: fadeUp;
    animation-duration: .75s;
    animation-fill-mode: both;
    animation-delay: 1.2s;
}

.fade-out {
    animation-name: fadeOut;
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-delay: 0s;
}

.scale-out {
    animation-name: scale-out;
    animation-duration: .75s;
    animation-fill-mode: both;
    animation-delay: 0s;
}
