/*animation keyframes*/

@keyframes fadeDown{
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeUp{
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeOut{
    from {
        opacity: 1;
        transform: none;
    }
    to {
        opacity: 0;
        transform: translate3d(0, -100%);
    }
}

@keyframes scale-left{
    from {
        transform: translate(0, 0) scale(1, 1);

    }
    to {
        transform: translate(-120%, 0) scale(2, 2);
    }
}
