* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #dfe7e9;
    align-items: center;
  justify-content: center;
  font-family: "Roboto", Arial, sans-serif;
}

header,footer{
    background-color: rgb(30, 34, 38);
}
/**********/
/* HEADER */
/**********/

header{
  width: 100%;
  display: flex;
  padding: 15px 15px 23px;
  align-items: center;
  transition: all .4s;
}

.header__logo{
  width: 80px;
  padding: 10px;
}

.header__title{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 1px;
  margin-left: 5px;
}

.header__title__main{
  color: rgb(164,188,193);
  font-family: "Roboto Slab", Arial, sans-serif;
  margin-top: -5px;
}

.header__title__subtitle{
     font-size: 0.45em;
    color: rgb(134, 156, 161)
;
}

.header__title__main--bovBlue{
  color: #42bcda;
}

.header__title__main--studentBlue {
  color: #d3e9ee;
}

/* HEADER__DROPDOWN-NAV */

.header__dropdown-nav {
  padding: 12px 14px;
  background-color: #272b30;
  border: #272b30;
  border-radius: 4px;
  margin-right: 2%;
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.header__dropdown-nav:hover {
  background-color: #3f444a;
  }

.header__dropdown-nav__dropdown-arrow{
  color: #5c6168;
  cursor: pointer;
}

.circles{
  width: 23px;
  margin-right: 5px;
  overflow: auto;
}

.circle{
  float: left;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 1px;
  margin-bottom: 1px;
}

.circle--1 {
  background-color: #489fef;
}

.circle--2 {
  background-color: #75c36a;
}

.circle--3 {
  background-color: #f15b5a;
}

.circle--4 {
  background-color: #ed72aa;
}

.circle--5 {
  background-color: #7b7def;
}

.circle--6 {
  background-color: #a7c931;
}

.circle--7 {
  background-color: #f7be26;
}

.circle--8 {
  background-color: #fc8850;
}

.circle--9 {
  background-color:   #5ac9e3;
}

/********/
/* MAIN */
/********/

main{
  width: 100%;
}

/* MAIN_HEADER */

.main__header{
  display: flexbox;
  padding: 50px 0 50px 40px;
  overflow: auto;
  color: #a2b7bc;
}

.main__header__title {
  float: left;
  display: inline-block;
  border-right: 2px solid rgba(162, 183, 188, 0.35);
  padding: 15px 45px 15px 5px;
}

.main__header__title__main {
  margin: 0 0 5px 0;
  color: #415162;
  font-size: 2.2em;
  font-weight: lighter;
  letter-spacing: 2px;
}

.main__header__title__subtitle__h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main__header__title__subtitle__p,
.main__header__title__subtitle__h3 {
  margin: 0;
}

.main__header__search {
    display: inline-block;
    margin-top: 1%;
}

.main__header__search__h3 {
  letter-spacing: 2px;
  padding: 15px 10px 15px 50px;
  display: inline-block;
  margin: 10px 0 0 25px;
  font-size: 1.3em;
  background-image: url(../images/magnifying-glass.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 5% 50%;
  border-radius: 4px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  position: relative;
}

.main__header__search__h3::after {
  content: "";
  width: 0;
  height: 4px;
  background: transparent;
  margin: 0 auto;
  display: block;
  -webkit-transition: width .4s linear, background-color .3s linear;
  -moz-transition: width .4s linear, background-color .3s linear;
  -o-transition: width .4s linear, background-color .3s linear;
  -ms-transition: width .4s linear, background-color .3s linear;
  transition: width .4s linear, background-color .3s linear;
  position: absolute;
  top: 95%;
  border-radius: 2%;
  left: 0;
}

.main__header__search__h3:hover::after {
  width: 100%;
  background: #4bc4e1;
  transition: all .4s;
}

.main__header__search__h3:hover {
  background-color: white;
}

.main__header__registration {
  float: right;
  display: inline-block;
  margin-top: 40px;
}

.main__header__registration-button {
  background-color: #4bc4e1;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  padding: 12px 15px 12px 25px;
  text-align: center;
  border-radius: 35px 0 0 35px;
  font-size: .7em;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.main__header__registration-button:hover {
  background-color: #a2b7bc;
}

/* STUDENT IMAGE GRID */
.student-image-grid{
  display: flex;
  flex-flow: row wrap;
}

.student-image-grid__image-cont{
  width: 10%;
  flex: 0 0 25%;
/*  height: 190px;*/
  cursor: pointer;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.student-image-grid__image-cont__image{
  width: 100%;
  height: 100%;
}

.student-image-grid__image-cont:hover {
    opacity: .7;
}

/**********/
/* FOOTER */
/**********/

footer{
  padding: 20px;
  width: 100%;
  color: #a2b7bc;
  padding: 20px 20px 40px;
}

button.load-more-container__button {
    background: #404b56;
    border: none;
    padding: 15px;
    width: 15%;
    margin: 20px auto 40px;
    display: inherit;
    color: #a2b7bc;
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    min-width: 200px;
}

button.load-more-container__button:hover {
  background: #5e6e7d;
}

.footer__nav {
    font-size: 12px;
    color: rgb(134, 156, 161);
    padding: 25px 0 10px;
    width: 70%;
    margin: 45px auto;
    border-top: 1px solid rgba(64, 75, 86, 0.6);
    border-bottom: 1px solid rgba(64, 75, 86, 0.6);
}

.footer__nav__list{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.footer__nav__list > li{
  display: block;
  margin: 5px;
}

.footer__nav__social-media{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.footer__nav__social-media > li{
  width: 1.4em;
  font-size: 1.4em;
  display: block;
  margin: 10px;
}

.footer__nav__social-media > li img{
  width: 70%;
  position: relative;
  top: 2px;
}

.footer__authors__title{
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}
.footer__authors__authorsContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer__authors__authorsContainer__author{
  display: inline-block;
  margin: 15px;
  cursor: pointer;
}

.footer__authors__authorsContainer__author > img{
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin: 10px auto;
  display: block;
}

.footer__authors__authorsContainer__author > p {
  font-size: 1.1em;
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  display: block;
}


/*MEDIA QUERIES*/

/*@media only screen and (max-width: 1200px) {

}
*/
@media only screen and (max-width: 1050px) {
  .student-image-grid__image-cont {
    flex: 0 0 50%;
  }
  .main__header {
      padding: 50px 40px;
  }
  .main__header__title__main {
      margin: 0 0 15px 0;
  }
  .main__header__title {
      float: left;
      display: inline-block;
      width: 55%;
      text-align: center;
  }
  .main__header__search {
      display: inline-block;
      margin: 1% auto 1%;
      width: 45%;
      text-align: center;
  }
  .main__header__search__h3 {
      margin: 10px 0;
      font-size: 1.8em;
  }
  .main__header__search__h3::after {
    content: none;
  }
  .main__header__registration {
      display: inline-block;
      margin-top: 60px;
      margin-bottom: 15px;
      width: 100%;
      clear: both;
      text-align: center;
  }
  .main__header__registration-button {
    font-size: .9em;
    padding: 15px 25px 15px 20px;
    border-radius: 5px;
    width: 40%;
  }
}

@media only screen and (max-width: 800px) {
  .main__header__search__h3 {
        margin: 25px 0 0;
        font-size: 1.8em;
    }
    .main__header__search {
        padding-left: 25px;
    }
}

@media only screen and (max-width: 700px) {
  .student-image-grid__image-cont {
    flex: 0 0 100%;
  }
}

