.user-modal__info-block__header,
.student-bio-text, 
.bio-info__section-heading,
.bio-info__list, 
.bio-info__section-heading, 
.career-path__list > li, 
.career-path-update__span{
    position: relative;
    top: 30px;
    opacity: 0;
}
